<!-- Config file for the game -->
<!-- <?xml version="1.0" encoding="utf-8"?> -->

<config>
  <app framerate_cap="30">
    <title>Elemental Race: The Game</title>
    <organization>Nuto Studios + UPC</organization>
  </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <audio>
    <volume value="64"></volume>
  </audio>

  <window>
    <resolution width="1024" height="768" scale="2.5"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <car car ="a"/> <!-- car [A] / bus [B] / motorcycle [C] / truck [D] / van [E] / taxi [F] / convertible [G] / mini [H] / car + trailer [I] / skateborad [J] / scooter [K] / sidecar [L] / tricycle [M] / segway [N] / monstertruck [O] -->
    <position_water x="0" y="0"/>
    <position_earth x="0" y="0"/>
    <position_air x="0" y="0"/>
    <position_fire x="0" y="0"/>
    
    <win_position_water x="0" y="0"/>
    <win_position_earth x="0" y="0"/>
    <win_position_air x="0" y="0"/>
    <win_position_fire x="0" y="0"/>

    <max_speed x="300" y="480"/>
    <gravity value="10"/>
  </player>

  <enemies></enemies>

  <scene current_scene ="1"> <!-- water [1] / earth [2] / air [3] / fire [4] -->
    <pivot_size x="1" y="3" z="1"/>
    <water>
      <high_score high_score="0"/>
    </water>
    <earth></earth>
    <air></air>
    <fire></fire>
  </scene>

  <collisions>
    <debug value="0"/>
  </collisions>
</config>